doctype html
html
    head
        title Hi Ovi, Razvan and Istvan are awesome coders
        meta(
            name="viewport" 
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        )

        style.
            * {
                margin: 0;
                padding: 0;
            }
            body {
                overflow: hidden;
            }
            .image-list {
                display: flex;
                flex-wrap: nowrap;
                position: absolute;
                transition: 0.15s;
                left: 0;
            }
            .image {
                height: 100vh;
                width: 100vw;
                background-size: cover;
                background-position: center center;
            }
            //- html, body {
            //-     height: 100%;
            //- }
    body
        -
            const imageList = [
                "01-responsive-web-design.jpg",
                "02-mobile-first-design.jpg",
                "03-fluid-typography.jpg",
                "04-single-page-vs-multi-page.jpg",
                "05-seo.jpg",
                "06-perfect-score.jpg",
                "07-code-editor.jpg",
                "08-precompilers-sass.jpg",
                "09-pug-language.jpg",
                "10-team-collaboration.jpg",
                "11-development-vs-client.jpg",
            ]
        .image-list
            each image in imageList
                .image(style=`background-image: url(/asset/image/${image})`)
        script.
            const imageElementList = [...document.querySelectorAll('.image')];
            const imageList = document.querySelector('.image-list');
            imageElementList.map(imageElement => {
                const windowWidth = window.screen.width;
                let start = 0,
                    end = 0;
                imageElement.addEventListener('touchstart', e => {
                    start = e.touches[0].clientX;
                    console.log(start)
                })
                imageElement.addEventListener('touchend', e => {
                    const imageElementDimensions = imageElement.getBoundingClientRect();
                    end = e.changedTouches[0].clientX;
                    console.log(end)
                    const direction = start - end;
                    const imageListLeft = parseInt(imageList.style.left, 10) || 0;
                    if (direction > 0) {
                        console.log(imageListLeft)
                        // decrease the left style property
                        imageList.style.left = (imageListLeft + imageElementDimensions.left - windowWidth) + 'px';
                    } else {
                        imageList.style.left = (imageListLeft + imageElementDimensions.left + windowWidth) + 'px';
                    }
                })
            })
